@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cabin+Sketch:wght@400;700&family=Fredericka+the+Great&family=Love+Ya+Like+A+Sister&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	height: 100vh;
	margin: 0;
	min-width: 1000px;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.level {
	display: grid;
	grid-template-columns: 1fr 280px;
	grid-template-rows: 80px 1fr 170px;
	height: 100vh;
	grid-template-areas:
		"level moves"
		"level missed-parts"
		"level trash";
}

.level-complete .level {
	//filter: url("#turbulence");
}

.canvas-cnt {
	align-self: center;
	grid-area: level;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 2px solid #000;
	height: 100%;
}

.canvas {
	width: min(90%, 850px);
	display: inline-grid;
	border-radius: 5px;
	overflow: hidden;
	padding: 15px;
	gap: 3px;
	align-self: center;
	justify-self: center;
	//grid-row: 1 / -1;
	grid-area: level;
}

.parts-cnt {
	grid-area: missed-parts;
	overflow-y: scroll !important;
}

.trash {
	grid-area: trash;
}

.moves {
	align-self: center;
	justify-content: center;
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 20px;
	color: #000;
}

